/* styles.css */

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.controls {
  margin-top: 20px;
}

button {
  border: none;
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
}

button i {
  font-size: 20px;
}

button:hover {
  background-color: #555;
}
